.techfont{
  font-family: 'Russo One', sans-serif;
  font-size: 1.3em;
  margin-bottom: 10px;
}

body{
  background-color: #d7dee9;
  /* display: flex;
  flex-direction: column;
  min-height: 100%; */
}
nav{
  background-color: #21295C;
}

nav div a{
  color: #ebe4e5;
}
.content{
  
}

footer{
  background-color:rgb(37, 34, 34);
  color: white;
  /* position: absolute; */
  /* bottom: 0; */
  min-width:100%;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

footer div a{
  text-decoration:none;

}
.postdate{
  text-align: center;
}

.posttitle{
  font-family: 'Russo One', sans-serif;
  font-size: 2.3em;
  text-align: center;
}

.postcontent{
  font-family: 'Montserrat';
  font-size: 1.5em;
}

.centerstage{
  margin-left: auto;
  margin-right: auto;
}

.btn-comment{
  position: absolute;
  right: 0px;
}

.bigbrand{
  font-size: 1.5em;
}

@media(max-width:700px){
  .content{
    /* position: relative;
    min-height: 100%; */
  }
  footer{
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  
}


/*COLOR CHANGER*/
/*Credit and Source: http://codepen.io/thapliyalshivam/pen/dvgXVO*/
.loader{
  filter:hue-rotate(0deg);
  color: linear-gradient(45deg,#0f8,#08f);
  animation:hue 5000ms infinite linear;
}

@keyframes spinify {
  0% {
    transform: translate(0px,0px);

  }
  33% {
    transform: translate(0px,24px);
    border-radius:100%;
    width:10px;
    height:10px;

  }
   66% {
    transform:translate(0px,-16px);
  }

   88% {
    transform:translate(0px,4px);

  }
  100% {
    transform:translate(0px,0px);
  }
}
@keyframes hue{
  0%{filter: hue-rotate(0deg);}
  100%{filter:hue-rotate(360deg);}

}
